@using Organizarty.Application.App.Party.Entities

@if(PartyTemplate is null){
  <div class="w-fit mr-[5%] self-center ">
      <div class="bg-[#D9D9D9] h-44 rounded-2xl w-80 flex z-0 mt-5 ">
          <div class=" w-80 rounded-2xl z-0 ">
              <div class="flex Festa relative h-full">
                  <div class="flex-col flex self-center z-20 absolute ml-4 clareador">
                  </div>

                  <div class="h-full w-full flex items-center justify-center ">
                    <img class="w-24 z-0 flex items-center" src="/images/Clients/MyParties/Cruz.svg">
                  </div>
              </div>
          </div> 
      </div>
  </div>
} else{
    @switch(PartyTemplate.PartyType){
      case "chadebebe":
        <div class="w-fit mr-[5%] self-center ">
          <div class="bg-[#594560] h-44 rounded-2xl w-80 flex z-0 mt-5 ">
            <div class=" w-80 rounded-2xl z-0 ">
              <div class="flex Festa relative h-full">
                <div class="flex-col flex self-center z-20 absolute ml-4 clareador">
                  <h4 class="clareador">@PartyTemplate.Name</h4>
                  <p class="clareador">Chá de Bebê <br> Número de Convidados: @PartyTemplate.ExpectedGuests</p>
                </div>
                <div class="h-full w-full flex items-center justify-center">
                  <img class="h-full escuro" src="/images/Clients/MyParties/Urso.png">
                </div>
              </div>
            </div> 
          </div>
        </div>
      break;
      case "happyhour":
        <div class="w-fit mr-[5%] self-center ">
          <div class="bg-gradient-to-b from-[#003664] to-[#023C10] h-44 rounded-2xl w-80 flex z-0 mt-5 ">
            <div class=" w-80 rounded-2xl z-0 ">
              <div class="flex Festa relative h-full">
                <div class="flex-col flex self-center z-20 absolute ml-4 clareador">
                    <h4 class="clareador">@PartyTemplate.Name</h4>
                    <p class="clareador">Happy Hour <br> Número de Convidados: @PartyTemplate.ExpectedGuests</p>
                </div>
                <div class="h-full w-full flex items-center justify-center">
                  <img class="h-full escuro" src="/images/Clients/MyParties/HappyHour.png">
                </div>
              </div>
            </div> 
          </div>
        </div>
      break;
      case "aniversario":
        <div class="w-fit mr-[5%] self-center ">
          <div class="bg-gradient-to-b from-[#4A0065] via-[#BC2450] to-[#C8A217] h-44 rounded-2xl w-80 flex z-0 mt-5 ">
            <div class=" w-80 rounded-2xl z-0 ">
              <div class="flex Festa relative h-full">
                <div class="flex-col flex self-center z-20 absolute ml-4 clareador">
                    <h4 class="clareador">@PartyTemplate.Name</h4>
                    <p class="clareador">Aniversário <br> Número de Convidados: @PartyTemplate.ExpectedGuests</p>
                </div>
                <div class="h-full w-full flex items-center justify-center">
                  <img class="h-full escuro" src="/images/Clients/MyParties/Aniversario.png">
                </div>
              </div>
            </div> 
          </div>
        </div>
      break;
      case "debutante":
        <div class="w-fit mr-[5%] self-center ">
          <div class="bg-gradient-to-b from-[#4B5267] to-[#000000] h-44 rounded-2xl w-80 flex z-0 mt-5 ">
            <div class=" w-80 rounded-2xl z-0 ">
              <div class="flex Festa relative h-full">
                <div class="flex-col flex self-center z-20 absolute ml-4 clareador">
                    <h4 class="clareador">@PartyTemplate.Name</h4>
                    <p class="clareador">Debutante <br> Número de Convidados: @PartyTemplate.ExpectedGuests</p>
                </div>
                <div class="h-full w-full flex items-center justify-center">
                  <img class="h-full escuro" src="/images/Clients/MyParties/Debutante.png">
                </div>
              </div>
            </div> 
          </div>
        </div>
      break;
      case "casamento":
        <div class="w-fit mr-[5%] self-center ">
          <div class="bg-[#928164] h-44 rounded-2xl w-80 flex z-0 mt-5 ">
            <div class=" w-80 rounded-2xl z-0 ">
              <div class="flex Festa relative h-full">
                <div class="flex-col flex self-center z-20 absolute ml-4 clareador">
                    <h4 class="clareador">@PartyTemplate.Name</h4>
                    <p class="clareador">Casamento <br> Número de Convidados: @PartyTemplate.ExpectedGuests</p>
                </div>
                <div class="h-full w-full flex items-center justify-center">
                  <img class="h-full escuro" src="/images/Clients/MyParties/Casamento.png">
                </div>
              </div>
            </div> 
          </div>
        </div>
      break;
      default:
      break;
    }
}

@code{
  [Parameter]
  public PartyTemplate? PartyTemplate {get; set;} = null;
}