@using Organizarty.Application.App.Schedules.Entities;
@using Organizarty.UI.Extensions;
@using Organizarty.Application.App.Party.Enums;

<div class="w-fit mr-[5%] self-center ">
    <div style="background: @Schedule.Type.GetBackground();" class="h-44 rounded-2xl w-80 flex z-0 mt-5 ">
        <div class=" w-80 rounded-2xl z-0 ">
            <div class="flex Festa relative h-full">
                <div class="flex-col flex self-center z-20 absolute ml-4 clareador">
                    <h4 class="clareador">@Schedule.Name</h4>
                    <p class="clareador">Tipo da Festa: @Schedule.Type.GetName() <br> Data do Evento: @Schedule.StartDate.ToShortDateString()</p>
                </div>
                <div class="h-full w-full flex items-center justify-center ">
                <img class="h-full escuro" src="@Schedule.Type.GetImage()">
                </div>
            </div>
        </div> 
    </div>
</div>

@code{
  [Parameter]
  public Schedule Schedule {get; set;} = new();
}
