@using Organizarty.Application.App.Schedules.Entities;
@using Organizarty.UI.Extensions;
@using Organizarty.Application.App.Party.Enums;

<div class="w-fit mr-[5%] self-center pai">
        <div class="relative w-80 h-52">
          <div style="background: @Schedule.Type.GetBackground();" class="Festa rounded-2xl flex z-0 mt-5 inset-0 bg-cover bg-center absolute filter brightness-50 hover:brightness-100"></div>
              <div class="flex h-full w-full">
                <div class="flex-col flex self-end z-20 absolute ml-4 mb-4 clareador">
                    <h4 class="clareador">@Schedule.Name</h4>
                    <p class="clareador">Tipo da Festa: @Schedule.Type.GetName() <br> Data do Evento: @Schedule.StartDate.ToShortDateString()</p>
                </div>
                <div class="h-full w-full flex items-center justify-center">
                    <img class="h-4/5 escuro Festa" src="@Schedule.Type.GetImage()">
                </div>
              </div>
            </div> 
      </div>

@code{
  [Parameter]
  public Schedule Schedule {get; set;} = new();
}
