@page "{thirdPartyId:Guid}"
@model ThirdPartyInfoModel
@using Organizarty.UI.Blazor.Components.Utils;
@using Organizarty.Application.App.Utils.Enums;
@using Organizarty.Application.App.ThirdParties.Entities;

@{
    ViewData["title"] = "Terceirizado";
    Layout = "_NullLayout";
}

<partial name="_OrganizartyManagerLayout"/>

<section class="w-5/6 ml-auto h-screen flex-col">
    <div class="flex">
        <div class="flex flex-col h-screen py-16 pl-16 pr-10">
        <img src="/images/Manager/ThirdParties/Logo.png" class="h-[55%] w-auto mb-5 rounded-[45px]">
            <label class="font-[KonnectBold] text-md xl:text-lg 2xl:text-xl text-[#848484] m-5">Descrição</label>
            <textarea class="w-full h-full rounded-2xl shadow-xl border-[#FFC700] font-[Konnect]" aria-required="true">@Model.ThirdParty.Description</textarea>
            <span class="placeholder"></span>
        </div>
        <div class="flex flex-col pt-16">
            <h1 class="font-[Inter] font-bold text-[#FFC700] text-5xl xl:text-6xl 2xl:text-7xl">@Model.ThirdParty.Name.ToUpper()</h1>
            <div class="flex my-10">
              <component type="typeof(ShowTags)" render-mode="ServerPrerendered" param-Tags="@Model.ThirdParty.Tag" />
            </div>
            <div class="flex justify-between w-full mt-5">
                <div class="flex flex-col w-1/2 mr-4">
                    <label class="font-[KonnectBold] text-md xl:text-lg 2xl:text-xl text-[#848484] mb-2">Email de Login</label>
                    <p class="w-full h-[4rem] rounded-2xl shadow-xl border-[#FFC700] font-[Konnect] mb-5 flex items-center pl-4">@Model.ThirdParty.LoginEmail</p>

                    <label class="font-[KonnectBold] text-md xl:text-lg 2xl:text-xl text-[#848484] mb-2">Nome</label>
                    <p class="w-full h-[4rem] rounded-2xl shadow-xl border-[#FFC700] font-[Konnect] mb-5 flex items-center pl-4">@Model.ThirdParty.Name</p>

                    <label class="font-[KonnectBold] text-md xl:text-lg 2xl:text-xl text-[#848484] mb-2">Cel / Tel 1</label>
                    <p class="w-full h-[4rem] rounded-2xl shadow-xl border-[#FFC700] font-[Konnect] mb-5 flex items-center pl-4">@Model.ThirdParty.ProfissionalPhone</p>
                </div>
                <div class="flex flex-col w-1/2">
                    <label class="font-[KonnectBold] text-md xl:text-lg 2xl:text-xl text-[#848484] mb-2">Email de Contato</label>
                    <p class="w-full h-[4rem] rounded-2xl shadow-xl border-[#FFC700] font-[Konnect] mb-5 flex items-center pl-4">@Model.ThirdParty.ContactEmail</p>
                    
                    <label class="font-[KonnectBold] text-md xl:text-lg 2xl:text-xl text-[#848484] mb-2">CPF / CNPJ</label>
                    <p class="w-full h-[4rem] rounded-2xl shadow-xl border-[#FFC700] font-[Konnect] mb-5 flex items-center pl-4">@Model.ThirdParty.CNPJ</p>

                    <label class="font-[KonnectBold] text-md xl:text-lg 2xl:text-xl text-[#848484] mb-2">Cel / Tel 2</label>
                    <p class="w-full h-[4rem] rounded-2xl shadow-xl border-[#FFC700] font-[Konnect] mb-5 flex items-center pl-4">@Model.ThirdParty.ContactPhone</p>
                </div>
            </div>
            <label class="font-[KonnectBold] text-md xl:text-lg 2xl:text-xl text-[#848484] mb-2 mt-5">Localização</label>
                    <p class="w-full h-[4rem] rounded-2xl shadow-xl border-[#FFC700] font-[Konnect] mb-5 flex items-center pl-4">@Model.ThirdParty.Address</p>

            @if(@Model.ThirdParty.AuthorizationStatus == AuthorizationStatus.Pending){
              <div class="flex font-[KonnectBold] text-white text-lg xl:text-xl 2xl:text-2xl w-full justify-around mt-[3.5rem]">
                  <a class="bg-[#2AD861] px-20 py-5 rounded-lg w-1/2 mr-8" href="/Manager/ThirdParties/Authorize/@Model.ThirdParty.Id">Aceitar</a>
                  <a class="bg-[#E05252] px-20 py-5 rounded-lg w-1/2" href="/Manager/ThirdParties/Refuse/@Model.ThirdParty.Id">Recusar</a>
              </div>
            }
        </div>
        <label></label>
    </div>
</section>
