@page
@model MyServiceModel

@using Organizarty.UI.Blazor.Components.Services

@{
Layout = "_ThirdPartyLayout";
ViewData["Title"] = "Meus Serviços";
}
<div class="flex justify-start items-center w-fit h-28">
  <img class="items-center w-24 " src="/images/ThirdParty/MyServices/LogoJunior.png"></img>
  <div class="ml-4">
    <h1 class="text-[#BB00C7] font-[Inter] text-3xl"><strong>@Model.ThirdParty.Name.ToUpper()</strong></h1>
    <p class="text-[#848484] font-[Inter] text-xs">@Model.ThirdParty.Address</p>
  </div>
</div>

<div class="">
  <h1 class="font-[Inter] font-bold text-[#848484] text-md mt-10">Seus Serviços</h1>
</div>
<div class="flex mt-4">
  <a href="/ThirdParty/Services/ChooseNewServiceType">
    <div class="w-fit flex flex-col items-center Button font-[KonnectBold] text-[#908D8D] mr-4"><button
        class="flex menuButtons rounded-full w-28 h-28  hover:bg-[#D9D9D9]"><img
          class="w-10 self-center ml-auto mr-auto" src="/images/ThirdParty/MyProducts/cruz.png"></img></button>
      <h4 class="text-sm">Adicionar</h4>
    </div>
  </a>
</div>
<div class="">
  @foreach (var service in @Model.Services){
  <div class="mt-6">
    <h1 class="flex font-[KonnectBold] text-[#A09898] text-4xl mb-2">@service.Name
        <a href="/ThirdParty/Services/NewSubitem/@service.Id">+</a>
        <a href="/ThirdParty/Services/Edit/@service.Id">E</a>

    </h1>
  </div>
  <div class="flex">
    @foreach (var item in service.SubServices){
    <component type="typeof(ThirdPartyServiceCard)" render-mode="ServerPrerendered" param-Service="@item" />
    }

  </div>
  }
